# Mise en place de la ré-écriture 
Options +FollowSymLinks
RewriteEngine On

# Adresse de base de réécriture 
RewriteBase /motork/web

# Règles
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule (.*) index.php [QSA,L]
